<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="quimera_robot">

  <xacro:property name="package_name" value="mobile_robot_description"/>
  <xacro:property name="robot_name" value="quimera_robot"/>  

  <xacro:include filename="$(find ${package_name})/urdf/include/common_macros.urdf.xacro" />
  <xacro:include filename="$(find ${package_name})/urdf/include/common_sensors.xacro" />
  <xacro:include filename="$(find ${package_name})/urdf/quimera_robot.gazebo.xacro" />

  <!-- <xacro:include filename="$(find hector_sensors_description)/urdf/generic_camera.urdf.xacro" /> -->
  
  <xacro:property name="back_wheel_yaml" value="$(find ${package_name})/config/${robot_name}/back_wheel.yaml" />
  <xacro:property name="back_wheel_props" value="${load_yaml(back_wheel_yaml)}"/>

  <xacro:property name="front_wheel_yaml" value="$(find ${package_name})/config/${robot_name}/front_wheel.yaml" />
  <xacro:property name="front_wheel_props" value="${load_yaml(front_wheel_yaml)}"/>

  <xacro:property name="base_yaml" value="$(find ${package_name})/config/${robot_name}/base.yaml" />
  <xacro:property name="base_props" value="${load_yaml(base_yaml)}"/>

  <!-- Footprint link -->
  <xacro:footprint wheel_props="${back_wheel_props}" />

  <!-- Base link -->
  <xacro:base base_prop="${base_props}" mesh="${base_props['base']['mesh']}" >
    <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
  </xacro:base>

  
  <!-- Back Wheels -->
  <xacro:wheel prefix="back_right" reflect="-1"
                      wheel_props="${back_wheel_props}"
                      base_props="${base_props}"                    
                      mesh="${back_wheel_props['wheel']['mesh']}">
  </xacro:wheel>

  <xacro:wheel prefix="back_left" reflect="1"
                      wheel_props="${back_wheel_props}"
                      base_props="${base_props}"
                      mesh="${back_wheel_props['wheel']['mesh']}">
  </xacro:wheel>

  <!-- Front Wheels -->
  <xacro:wheel prefix="front_right" reflect="-1" 
                      wheel_props="${front_wheel_props}"
                      base_props="${base_props}"> 
  </xacro:wheel>

  <xacro:wheel prefix="front_left" reflect="1" 
                      wheel_props="${front_wheel_props}"
                      base_props="${base_props}"> 
  </xacro:wheel>

  <!-- Sensors -->

  <xacro:hokuyo_sensor parent_link="base_link" visualize="false">
    <origin xyz="-0.02 0 ${base_props['base']['z_size'] + 0.05}" rpy="0 0 0" />
  </xacro:hokuyo_sensor>

  <xacro:camera_sensor parent_link="base_link" visualize="false">
    <origin xyz="0.02 0 ${base_props['base']['z_size']}" rpy="0 0 0" />
  </xacro:camera_sensor>

  <xacro:imu_sensor parent_link="base_link">
    <origin xyz="0.0 0.05 ${base_props['base']['z_size'] + 0.01}" rpy="0 0 0" />
  </xacro:imu_sensor>  

  

</robot>
