<launch>
    <!-- these are the arguments you can pass this launch file, for example paused:=true. Arguments used for Gazebo -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- If true, rqt_robot_steering is also launched -->
    <arg name="manual_control" default="false"/>
    <arg name="rviz" default="false"/>
    <arg name="world_name" default="empty"/>
    <arg name="x_pos" default="-2.0"/>
    <arg name="y_pos" default="-0.5"/>
    <arg name="z_pos" default="0.0"/>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find mobile_robot_description)/world/$(arg world_name).world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <!-- If your URDF is not in XML format but rather in XACRO format the xacro.py
     load the URDF into the ROS Parameter Server -->
    <param name="mobile_robot/robot_description"
        command="$(find xacro)/xacro --inorder '$(find mobile_robot_description)/urdf/mobile_robot.urdf.xacro'"/>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model mobile_robot -param mobile_robot/robot_description
              -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) "/>

    <!-- <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" respawn="false" output="screen"
        ns="quimera_robot/mobile_base_controller/"/> -->

    <!-- <include file="$(find quimera_robot_control)/launch/quimera_control.launch" >
        <arg name="manual_control" value="$(arg manual_control)"/>
    </include> -->
    
    <group if="$(arg rviz)" >
        <include file="$(find mobile_robot_description)/launch/mobile_robot_rviz.launch" />
    </group>
</launch>