<launch>

  <!--Robot Description from URDF-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mobile_robot_description)/urdf/quimera_robot.urdf.xacro"/>  

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!--RViz-->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find mobile_robot_description)/rviz/quimera_robot.rviz" />

</launch>